<%= render "layouts/navbar" %>
	<div class="top-section bg-image">
		<div class="circular-icon bg-grey" id="nav-button">
			<i class="fa fa-bars fa-2x white"></i>
		</div>
	</div>
	<div class="currently-reading">
		<h2> Currently Reading </h2>
	</div>
	<div class="books-section">
		<div class="ui six doubling cards">
		    <% @currently_reading.each do |book| %>
			  <div class="card card-width">
			    <div class="image image-size">
			      <img id="img-height" src="<%= book.image %>">
			    </div>
			  </div>
			<% end %>
		</div>
	</div>

	<div class="currently-reading">
		<h2> Read </h2>
	</div>
	
	<div class="books-section">
		<div class="ui six doubling cards">
		    <% @finished_reading.each do |read| %>
			  <div class="card card-width rise">
			  	<% if !read.notes.empty?%>
				  	<div class="reviewed-flag">
				  		<p>Reviewed</p>
				  	</div>
				  	<a href="/read/<%= read.id %>" data-remote="true">
					    <div class="image">
					      <img id="img-height" src="<%= read.book.image %>">
					    </div>
				    </a>
			  	<% else %>
					<div class="image">
					    <img id="img-height" src="<%= read.book.image %>">
				    </div>
			  	<% end %>
			    <%= render partial: 'stars', locals: {rating: read.book.rating}%>
			  </div>
			<% end %>
		</div>
	</div>

	<div class="ui modal book-review">
	  <i class="close icon"></i>
	  <div id="modal-title" class="header">
	    <p> Some Title </p>
	  </div>
	  <div class="content">
	    <div class="image">
	     	<img src=""></img>
	    </div>
	    <div class="description">
	      	<div class="ui star rating" data-rating="3" data-max-rating="5">Hello</div>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui button">Cancel</div>
	    <div class="ui button">OK</div>
	  </div>
	</div>